.banner {
    background-image: url("./assets/banner1.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top ;
    position: relative;
   
}
.smile {
    background-image: url("./assets/smile.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;

}
.testimony {
    background-image: url("./assets/testimony.svg");
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;

}
@media (max-width: 576px) {
    .testimony {
        height: 64vh;
    }
    .smile{
        height: 85vh;
    }
}


/* Small Devices (576px - 767px) */
@media (min-width: 577px) and (max-width: 767px) {
    .testimony {
        height: 70vh;
        /* Adjust the height as needed for small screens */
    }
}

/* Medium Devices (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .testimony {
        height: 80vh;
        /* Adjust the height as needed for medium screens */
    }
}
@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateCounterclockwise {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.custom-rotate-clockwise {
    animation: rotateClockwise infinite 4s linear;
    /* Adjust the duration as needed */
}

.custom-rotate-counterclockwise {
    animation: rotateCounterclockwise infinite 4s linear;
    /* Adjust the duration as needed */
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}